#lin
        {
            float:left;
            position: absolute;
            top:-10px;
                }
nav
{
    float:none;
    padding:20px;
    background-color: navy;
    width:1366px;
 }
a
{
    padding:26px;
    text-decoration: none;
    color:azure;
}
a:hover
{
    color:lightskyblue;
}
footer
        {
            position:absolute;
            top:720px;
             background-color: navy;
            width:1409px;
            color: azure;
            text-align: center;
        }